<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="javascript:;">Films</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            Главная <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/films']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            Фильмы
          </a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск" [(ngModel)]="text"
               [ngModelOptions]="{standalone: true}" maxlength="20" (keydown.enter)="search()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Найти</button>
      </form>
    </div>
  </nav>
</header>
