<h1 class="mt-5">{{film?.Title}}</h1>

<div class="row mt-5">
  <div class="col-md-4">
    <img src="{{film?.Poster}}" alt="{{film?.Title}}" class="img-thumbnail" style="max-width: 100%;">
  </div>
  <div class="col-md-8">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Год</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Year}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Актеры</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Actors}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Страна</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Country}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Режиссер</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Director}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Cценарий</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Writer}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Жанр</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Genre}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Производство</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Production}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Язык</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Language}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Премьера</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Released}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Награды</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Awards}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Сборы</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.BoxOffice}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Время</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.Runtime}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Рейтинг</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="{{film?.imdbRating}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Сайт</label>
      <div class="col-sm-8">
        <a *ngIf="film?.Website" href="{{film?.Website}}" target="_blank">{{film?.Website}}</a>
      </div>
    </div>
  </div>
</div>
