<div class="card mb-4 shadow-sm">
  <img src="{{film?.Poster}}" alt="{{film?.Title}}" class="card-img-top" style="max-height: 300px;">
  <div class="card-body">
    <p class="card-text">{{film?.Title}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateToDetail()">Перейти</button>
      </div>
      <small class="text-muted">{{film?.Year}}</small>
    </div>
  </div>
</div>
