<h1 class="mt-5">Список фильмов</h1>

<div class="row mt-5">
  <ng-container *ngFor="let film of films">
    <div class="col-md-4">
      <app-film-short-detail [film]="film"></app-film-short-detail>
    </div>
  </ng-container>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
