<h1 class="mt-5">Новинки</h1>

<div class="row mt-5">
  <ng-container *ngFor="let film of news">
    <div class="col-md-4">
      <app-film-short-detail [film]="film"></app-film-short-detail>
    </div>
  </ng-container>
</div>
